<p>add-employees works!</p>

<div *ngIf="employee">
  <div>Id: {{employee.id}}</div>
  <div>Name: {{employee.name}}</div>
  <div>Salary: {{employee.salary}}</div>
</div>

<form>
  <mat-form-field>
    <mat-label>Employee Id:</mat-label>
    <input matInput id="emp-id" placeholder="id" [(ngModel)]="employee.id" name="id"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Employee Name:</mat-label>
    <input matInput id="emp-name" placeholder="name" [(ngModel)]="employee.name" name="emp-name"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Employee Salary:</mat-label>
    <input matInput id="emp-salary" placeholder="salary" [(ngModel)]="employee.salary" name="salary"/>
  </mat-form-field>

  <button (click)="submit(employee)" mat-flat-button color="primary">Add Employee</button>
</form>
{{ count$ | async }}